
<span style="float: right; font-size: 80%">{$itemalias}</span><h1>{$edittitle}</h1>
<p>{$submit} {$apply} {$cancel}</p>
<br/><br/>
	<div class="pageoverflow">
		<p class="pagetext">{$name_label}* :</p>
		<p class="pageinput">{$name_input}</p>
	</div>

	<div class="pageoverflow">
		<p class="pagetext">{$phone_label} :</p>
		<p class="pageinput">{$phone_input}</p>
	</div>
	<div class="pageoverflow">
		<p class="pagetext">{$sex_label} :</p>
		<p class="pageinput">{$sex_input}</p>
	</div>
	<div class="pageoverflow">
		<p class="pagetext">{$address_label} :</p>
		<p class="pageinput">{$address_input}</p>
	</div>
	<div class="pageoverflow">
		<p class="pagetext">{$birthday_label} :</p>
		<p class="pageinput">{$birthday_input}</p>
	</div>
<br/>
<p>{$submit} {$apply} {$cancel}</p>
